
<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="is-active tab-link">Top Names</a>
    <div class="tab-content">
      <%= render 'baby_names/partials/list', name_list: @most_popular %>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Latest Names</a>
    <div class="tab-content">
      <%= render 'baby_names/partials/list',
                 name_list: @latest, list_name: 'latest' %>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">All Names</a>
    <div class="tab-content">
      <%= render 'baby_names/partials/alphabetic_names' %>
    </div>
  </li>
</ul>

<% if logged_in? %>
  <%= link_to 'Add Baby Name',
              new_baby_name_path,
              class: 'nav-button',
              id: 'bottom_new_baby_name' %>
<% end %>
